td{
    border:2px solid black;
}
h1{
    color:blue;
}
img {

    width: 230px;
     padding: 10px;
     border: 4px blue;
    background-color:red;
}
pr{
    color:blue;
}
td{
    color: blue;
}
h2{
    color: blue;
}
pr2{
    color: blue;
}
h3{
    color: blue;
}
h4{
   color: blue;
}
td{
    background-color:pink ;
}